#slide-bar{background:url(../images/photo-bg.png);height:60px;width:900px;position:relative;top:-80px;font:14px Tahoma,Arial,Helvetica,sans-serif;}
#slide-title{color:#fff;font-size:24px;font-family:Tahoma,Arial,Helvetica,sans-serif;position:relative;padding:2px 15px;}
#slide-desc{color:#fff;text-align:right;padding:5px 15px;position:relative;top:-30px;}
#slide-complete{background:#fff;height:5px;opacity:.40;}
#slide-select li{display:block;list-style:none;padding:0 5px 0 5px;margin-top:-1px;}

.slide-container{height:550px;margin:-10px;}
.slide-container a{overflow:hidden;border:0px solid #fff;}

.select-hover{position:absolute;top:-10px;}
.select-hover img{border:3px solid #fff;}
.photo-button{background:url(../images/photo-bullet.png) top left;width:15px;height:15px;margin:2px;float:left;}
.photo-button:hover{background-position:0 50%;}
.photo-button-active{background-position:0 100% !important;} 
.content,.entry{padding:0px;}
.content{height:550px;}
.transition{opacity:100;transition-property:opacity 0.5s;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s;}
.transitionSlide{margin-top:0px;transition-property:opacity 0.5s;-moz-transition:margin 0.5s;-webkit-transition:margin 0.5s;-o-transition:margin 0.5s;}
