.slide-container{overflow:hidden;background:#000;}
.slide-container a{overflow:hidden;border:0px solid #fff;}

#slide-bar{background:rgba(0,0,0,0.6);height:60px;width:90%;position:relative;top:-80px;font:14px Tahoma,Arial,Helvetica,sans-serif;}
#slide-title{color:#fff;font-size:24px;font-family:Tahoma,Arial,Helvetica,sans-serif;position:relative;padding:2px 15px;float:left}
#slide-desc{color:#fff;text-align:right;padding:5px 15px;position:relative;float:right;}
#slide-complete{background:#fff;height:5px;opacity:.40;}
#slide-select{position:relative;top:-95px;left:-40px;}
#slide-select li{display:block;list-style:none;padding:0 5px 0 5px;margin-top:-1px;}
#slide-image-wrapper{position:relative;overflow: hidden;}

.slide-image{position:absolute;top:auto;left:auto;}

.select-hover{position:absolute;top:-100px;}
.select-hover img{border:3px solid #fff;}
.photo-button{background:url(./images/photo-bullet.png) top left;width:15px;height:15px;margin:2px;float:left;}
.photo-button:hover{background-position:0 50%;}
.photo-button-active{background-position:0 100% !important;} 

.slide-arrow{position:relative;top:-200px;color:#fff;text-decoration:none;}
#arrow-left{float:left;margin: auto 0 auto 0;}
#arrow-right{float:right;margin: auto 0 auto 0;}

.transition{opacity:100;transition-property:opacity 0.5s;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s;}
.transitionSlide{margin-top:0px;transition-property:opacity 0.5s;-moz-transition:margin 0.5s;-webkit-transition:margin 0.5s;-o-transition:margin 0.5s;}
